:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* global variables */
  --global-bg-color: #030615;
  --global-paragraph-font-size: 1.5rem;
}

/* ================================================= */
/*  BASIC STYLES */
/* ================================================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display:flex;
  max-height: 100vh;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  max-height: 100;
}

/* background image */
.bgImage {
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

/* ================================================= */
/*  FOOTER */
/* ================================================= */

/* fixed to bottom, pushing info button to opposite side */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer h2 {
  font-size: var(--global-paragraph-font-size);
}

footer h1 {
  font-size: 0.9rem;
  font-weight: 200;
}

footer button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 200ms;
  cursor: pointer;
}

footer button i {
  font-size: 1.3rem;
}

footer button:hover {
  opacity: 0.7;
}


/* gradient to help text / metric output readability */
.bgGradient {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(to top, var(--global-bg-color), rgba(255, 255, 255, 0));
}













/* ================================================= */
/*  SIDEBAR */
/* ================================================= */

/* mobile display */
.sidebar {
  position: fixed;
  inset: 0; /* extends to edge of page */
  display: flex;
  flex-direction: column;
  z-index: 10;
}

/* dark overlay, high opacity */
.bgOverlay {
  position: absolute;
  inset: 0;
  background: var(--global-bg-color);
  opacity: 0.6;
}

/* sidebarContents */
.sidebarContents {
  z-index: 15;
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: auto;
  gap: 1rem;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 800px;
  background: var(--global-bg-color);
  background:#242424;
  overflow-y: scroll;
}

/* sidebarContents div  (for arrow button placement */
.sidebarContents div {
  flex: 1;
}

/* button styling */
.sidebarContents button {
  padding: 1rem;
  border: none;
  background: transparent;
  color: white;
  font-size: var(--global-font-size);
  cursor: pointer;
  margin-right: auto;
}

.sidebarContents h2 {
  font-size: var(--global-paragraph-font-size);
  font-weight: 200;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* sidebar description*/
.descriptionTitle {
  font-size: 1.1rem;
  font-weight: 200;
}

/* ================================================= */
/*  LOADING STATE (gear animation) */
/* ================================================= */

/* loading state from api call */
.loadingState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingState i {
  font-size: 4rem;
  font-size: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================================================= */
/*  RESPONSIVENESS ACROSS DEVICES */
/* ================================================= */

/* large sceen display settings for sidebar */
@media (min-width: 700px) {
  .sidebar {
    position: relative;
    inset: unset;
    min-width: 30%;
    max-height: 100vh;
    box-shadow: 0 0 40px 1px var(--global-bg-color);
  }

  .sidebarContents {
    margin: unset;
    width: 100%;
  }

  .bgOverlay {
    right: 0;
    left: unset;
    width: 100vw;
  }
}

/* .table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td, .th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #dddddd;
} */

/* 
/* index.css */
/* .footerTest {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.header {
  text-align: left;
  color: #343a40;
}

.sub-header {
  text-align: left;
  color: #6c757d;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header {
  text-align: left;
  border-bottom: 2px solid #dee2e6;
  padding: 8px;
  background-color: #f1f1f1;
}

.table-cell {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #dee2e6;
}

.paragraph {
  text-align: left;
  color: #6c757d;
  margin-top: 10px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */ 